*{
    margin: 0;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
}

body{
    min-width: 240px;
}

.content{
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;
}
img {
    width: 42px;
    height: 42px;
}

.wordList{
    display: flex;    
}

li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.remove-word {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.example-link{
    color: #4f2abe;
}

.word-link {
    position: relative;
    text-decoration: none;
}

.word-link::before {
    content: attr(title); 
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    bottom: 80%;
    left: 0; 
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.word-link:hover::before {
    visibility: visible;
    opacity: 1;
    transform: translateX(-10px); 
}

