*{
    margin: 0;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
}

body{
    min-width: 240px;
}

.content{
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 12px;
}
img {
    width: 42px;
    height: 42px;
}

.wordList{
    display: flex;    
}

li {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.remove-word {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #4f2abe;
}